<div id="<%= dom_id change_order %>">
  <p>
    <strong>Amount changed:</strong>
    <%= change_order.amount_changed %>
  </p>

  <p>
    <strong>Material changed:</strong>
    <%= change_order.material_changed %>
  </p>

  <p>
    <strong>Work order changed:</strong>
    <%= change_order.work_order_changed %>
  </p>

</div>
