<h1>Your Notifications</h1>
<%= turbo_stream_from "notifications_index_list_#{current_user.id}" %>

<ul id="notifications">
  <%= render collection: @notifications, partial: "notifications/notification" %>
</ul>
